<div class='nano-logo' title='Click to return to the admin starting page'>
  <a [routerLink]='[links.admin.dashboard]'></a>
</div>
<div class='sidebar-container'>
  <div class='flex sidebar-label' [textContent]='strings.menu[lng]'></div>
  <div class='sidebar-underline'></div>
  <nav class='sidebar-menu' #sidebarMenu>
    <ul class='item-list'>
      <li [class.expanded]='currentLink.indexOf(links.admin.organizationsList) > - 1' class='item hasItems' data-item='Organizations'>
        <span class='flex item-label' [textContent]='strings.organizations[lng]'></span>
        <ul class='trans-15s item-list sub'>
          <li [class.selected]='links.admin.organizationsList === currentLink' class='item' data-item='org-list'>
            <a class='flex' [routerLink]='[links.admin.organizationsList]' [textContent]='strings.list[lng]'></a>
          </li>
          <li [class.selected]='links.admin.organizationsNew === currentLink' class='item' data-item='org-new'>
            <a class='flex' [routerLink]='[links.admin.organizationsNew]' [textContent]='strings.add[lng]'></a>
          </li>
        </ul>
      </li>
      <li [class.expanded]='currentLink.indexOf(links.admin.projectsList) > - 1' class='item hasItems' data-item='Projects'>
        <span class='flex item-label' [textContent]='strings.projects[lng]'></span>
        <ul class='trans-15s item-list sub'>
          <li [class.selected]='links.admin.projectsList === currentLink' class='item' data-item='proj-list'>
            <a class='flex' [routerLink]='[links.admin.projectsList]' [textContent]='strings.list[lng]'></a>
          </li>
          <li [class.selected]='links.admin.projectsNew === currentLink' class='item' data-item='proj-new'>
            <a class='flex' [routerLink]='[links.admin.projectsNew]' [textContent]='strings.add[lng]'></a>
          </li>
        </ul>
      </li>
      <li [class.expanded]='currentLink.indexOf(links.admin.reports.closedProjects) > - 1' class='item hasItems' data-item='Reports'>
        <span class='flex item-label' [textContent]='strings.reports[lng]'></span>
        <ul class='trans-15s item-list sub'>
          <li [class.selected]='links.admin.reports.closedProjects === currentLink' class='item' data-item='closed-proj-list'>
            <a class='flex' [routerLink]='[links.admin.reports.closedProjects]' [textContent]='strings.projects[lng]'></a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
<span #toggler class='trans-15s flex sidebar-toggle' (mouseup)='toggleSidebar($event.currentTarget)'><i></i></span>