$desktop: "only screen and (min-width : 1366px)";
$phone-tablet: "only screen and (max-width : 1366px)";
$listItemLabelHeight: "40px";
$menuLabelWidth: 103%;
$menuColor: '#4cb19e';
$lighterMenuColor: '#6bc1b1';
$menuPaddingWidth: '10px';
$menuPaddingHeight: '20px';
$underlineHeight: '5px';
$underlineMarginHeight: '10px';
$defaultFontSize: '16px';
$previousChilds: calc(100% - #{$menuPaddingHeight}*2 - #{$defaultFontSize} - #{$underlineHeight} - #{$underlineMarginHeight});


@media #{$desktop} {
    .nano-logo > .sidebar-toggle {
        display: none;
    }

    .item.hasItems::after {
        content: "";
        position: absolute;
        display: none;
        top: 50%;
        right: 5px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 0 4px 6.9px;
        border-color: transparent transparent transparent #818181;
        line-height: 0px;
        _border-color: #000000 #000000 #000000 #818181;
        _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .item-list.sub {
        position: absolute;
        width: 0;
        height: auto;
        top: 0;
        left: 102%;
        background-color: whitesmoke;
        overflow: hidden;
    
        -webkit-box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
        -moz-box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
        box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    }

    .item:hover {
        background-color: #61bfad;
        color: white;
        z-index: 9999;
    }

    .item.hasItems:hover > .item-list.sub {
        width: 60%;
        z-index: 9999;
    }

    .item.hasItems:hover::after {
        display: block;
    }
    
    .item-list.sub > .item:hover > a {
        color: white;
    }
}

@media #{$phone-tablet} {
    .sidebar-container {
        overflow: hidden;
    }

    .sidebar-toggle {
        position: absolute;
        display: block;
        width: 30px;
        height: 30px;
        bottom: calc(100% - 138px);
        right: -15px;
        background-color: #{$menuColor};
        border-radius: 0 3px 3px 0;
        color: white;
        font-size: 24px;
        opacity: .6;
        overflow: hidden;
        z-index: 100;
    }

    .sidebar-toggle,
    .sidebar-toggle > * {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    .sidebar-toggle::after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        bottom: 0;
        right: -30px;
        background-color: rgba(89, 175, 255, 1);
        border-radius: 50%;

        -webkit-transition: .15s all ease-in-out, .30s opacity ease-in-out;
        -moz-transition: .15s all ease-in-out, .30s opacity ease-in-out;
        -ms-transition: .15s all ease-in-out, .30s opacity ease-in-out;
        -o-transition: .15s all ease-in-out, .30s opacity ease-in-out;
        transition: .15s all ease-in-out, .30s opacity ease-in-out;

        -webkit-transform: rotateZ(90deg);
        -moz-transform: rotateZ(90deg);
        -ms-transform: rotateZ(90deg);
        -o-transform: rotateZ(90deg);
        transform: rotateZ(90deg);

        z-index: -1;
    }

    .sidebar-toggle:active::after {
        width: 300%;
        height: 100%;
        opacity: .75;
    }

    .sidebar-toggle > i {
        position: relative;
        display: block;
        width: 20px;
        height: 15px;
        overflow: hidden;
        border-top: 1px solid white;
    }

    .sidebar-toggle > i::before,
    .sidebar-toggle > i::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 50%;
        bottom: 0;
        left: 0;
    }

    .sidebar-toggle > i::before {
        left: 10%;
        width: 80%;
        border-top: 1px solid white;
    }

    .sidebar-toggle > i::after {
        border-bottom: 1px solid white;
    }

    .sidebar-toggle.expanded {
        opacity: 1;
    }

    .item.hasItems {
        opacity: .5;
    }

    .item-list.sub {
        height: 0;
        overflow: hidden;
    }

    .item.hasItems.expanded {
        opacity: 1;
        -webkit-box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
        -moz-box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
        box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    }

    .item.hasItems.expanded > .item-label {
        background-color: #8adccc;
        color: #32695e;
    }

    .item.hasItems.expanded > .item-list.sub {width: 98%;
        height: auto;
        margin: 0 auto 15px auto;
        border-top: 2px solid transparent;
        border-radius: 0 0 2px 2px;

        -webkit-box-shadow: inset 0px 0px 8px 2px rgba(0,0,0,0.35);
        -moz-box-shadow: inset 0px 0px 8px 2px rgba(0,0,0,0.35);
        box-shadow: inset 0px 0px 6px 1px rgba(0,0,0,0.35);
    }

    .item.hasItems.expanded .item.selected {
        background-color: #61bfad;
        color: white;
        z-index: 9999;
    }
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

.nano-logo {
    position: relative;
    display: block;
    height: 75px;
    background: url('/assets/Nano_Logo_Primary.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.nano-logo::after {
    content: "";
    position: absolute;
    display: block;
    width: 80%;
    height: 1px;
    background-color: darkgrey;
    bottom: 0;
    left: 10%;
    right: 10%;
}

.nano-logo > a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
    user-select: none;
}

.sidebar-container {
    position: relative;
    display: block;
    width: 100%;
    height: calc(100% - 95px);
    z-index: 4;
}

.sidebar-container, * {
    box-sizing: border-box;
    font-weight: 100 !important;
}

.sidebar-label {
    width: #{$menuLabelWidth};
    padding: #{$menuPaddingHeight} #{$menuPaddingWidth};
    background-color: #4cb19e;
    color: white;
    cursor: default;
    overflow: hidden;
    text-transform: uppercase;
    user-select: none;
}

.sidebar-underline {
    position: relative;
    display: block;
    width: #{$menuLabelWidth};
    height: #{$underlineHeight};
    background-color: #{$lighterMenuColor};
    margin-bottom: #{$underlineMarginHeight};
    overflow: hidden;
    box-sizing: border-box;
}

.sidebar-underline::before,
.sidebar-underline::after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    top: 0;
    line-height: 0;
    border-style: solid;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.sidebar-underline::before {
    left: 0;
    border-width: 5px 0 0 10px;
    border-color: transparent transparent transparent #f5f5f5;
    _border-color: #000000 #000000 #000000 #f5f5f5;
}

.sidebar-underline::after {
    right: 0;
    border-width: 0 0 5px 10px;
    border-color: transparent transparent #f5f5f5 transparent;
    _border-color: #000000 #000000 #f5f5f5 #000000;
}

.sidebar-menu {
    position: relative;
    display: block;
    width: 100%;
    height: #{$previousChilds};
}

.sidebar-menu a {
    color: inherit;
    height: calc(#{$listItemLabelHeight} - 10px);
    text-decoration: none;
}

.item-list {
    position: relative;
    display: block;
    padding: 0;
}

.item {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid silver;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.item > * {
    text-transform: capitalize;
}

.item.last,
.item:last-of-type {
    border: none !important;
}

.item-label {
    position: relative;
    width: 100%;
    height: #{$listItemLabelHeight};
    align-items: stretch;
    overflow: hidden;
}

// USER ACTIONS

.sidebar-menu a:visited {
    color: initial;
}

//HOVERS

.trans-15s {
    -webkit-transition: .15s all ease-in-out;
    -moz-transition: .15s all ease-in-out;
    -ms-transition: .15s all ease-in-out;
    -o-transition: .15s all ease-in-out;
    transition: .15s all ease-in-out;
}