$menuColor: '#4cb19e ';
$lighterMenuColor: '#6bc1b1 ';

mat-icon {
  font-family: 'Material Icons' !important;
}

::ng-deep .mat-card-header-text {
  width: 100%;
}

mat-card {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 90%;
  height: auto;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
}

.container {
  background: #eee;
  padding: 15vh 0;
}

.card-title {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
}

.reset-wrapper {
  position: relative;
  display: inline-block;
  
  .reset {
    position: relative;
    width: 30px;
    height: 30px;
    align-items: center;
    border-radius: 50%;
    outline: none;             
    color: grey;
    font-size: 22px;
    text-align: center;
    line-height: 1;
    opacity: .5;
    z-index: 100;
    cursor: pointer;
  }
  
  .reset:hover {
    opacity: 1 !important;
  }
  
  .reset:active {
    opacity: 1;
    color: #{$menuColor};
  }
}

.table-container {
  position: relative;
  display: block;
  width: 100%;
  padding: 100px 40px;
  overflow: auto;

  box-sizing: border-box;
}