<div class='fab-menu'>
  <div class="fab-toggle" (click)="toggleAmounts($event.currentTarget)">
    <p class="donate">
      DONATE
      <!--<br><span class="smaller">with swish</span>-->
    </p>
  </div>
  <a class="fab-item" (click)="donate(donateOption1)">
    {{donateOption1}}:-
    </a>
  <a class="fab-item" (click)="donate(donateOption2)">
    {{donateOption2}}:-
      <ng-content></ng-content>
  </a>
  <a class="fab-item" (click)="donate(donateOption3)">
    {{donateOption3}}:-
  </a>
</div>
