
.container {

  .button-container {
    padding-top: 10vh;
    height: 7.5vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    .map-location-button {
      width: 50%;
      padding: 0;
    }
    .vertical-line {
      display: inline;
      width: 1px;
      height: 100%;
      background: white;
    }
  }

  form {

    height: 7.5vh;
    width: 85%;
    display: inline;
    border-radius: 5px;
    position: absolute;
    text-align: center;
    top: 20vh;
    z-index: 20;
    margin: auto;
    left: 0;
    right: 0;
    background: white;

    mat-form-field {
      width: 100%;
      height: 100%;

      ::ng-deep .mat-input-placeholder-wrapper {
        label {
          padding-left: 10px;
        }
      }
      input {
        width: 100vw;
        padding-left: .5em;
        padding-right: 4em;
        box-sizing: border-box;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    button {
      position: absolute;
      right: 0;
      z-index: 22;
      top:0;
      height: 7.5vh;
      padding: 2px;
      .material-icons.search {
        color: silver;
      }
    }
  }

  .message-container {
    display: inline;
    background: #323232;
    color: white;
    padding: 0.5em;
    border-radius: 10px;
    position: absolute;
    top: 32vh;
    z-index: 20;
    margin: auto;
    left: 0;
    right: 0;
    width: fit-content;
    font-size: smaller;

  }

  agm-map {
    height: 82.5vh;
  }

  .confirm-container {
    display: inline;
    background: white;
    border-radius: 5px;
    position: absolute;
    text-align: center;
    bottom: 4vh;
    z-index: 20;
    margin: auto;
    left: 20px;
    width: 75%;
    button {
      padding: 0.5em;
      width: 100%;
      height: 100%;
    }
  }
}
