<nav class="navbar-container">
  <div class="nav-menu-container">
    <ul class="navbar-menu">
      <li>
        <a mat-button aria-label="profile" routerLink="/donor">
          <mat-icon aria-hidden="true" class="mat-24">person</mat-icon>
        </a>
      </li>
      <li>
        <a mat-button routerLink="/home" routerLinkActive="active" class="logo">
          <img src="../assets/Nano_Logo_White.png" alt="Nano logo">
        </a>
      </li>
      <li>
        <a mat-button aria-label="geo" routerLink="/geo">
          <mat-icon aria-hidden="true" class="mat-24">place</mat-icon>
        </a>
      </li>
    </ul>
  </div>
</nav>
