.navBar{
    background-color: #61bfad;
    display: flex;
    justify-content: space-around;
    height:60px;

    
}
md-icon{
    padding-top: 10px;
    color:white;
    font-size: 45px;
    width:45px;
    height:45;
    position:auto;
    //cursor: pointer;
}