<div *ngIf="organization">
  <h2>{{organization.name}}</h2>
  <md-list>
    <md-list-item><div class="label">Organization Name: </div><div>{{organization.name}}</div></md-list-item>
    <md-list-item><div class="label">Organization ID: </div><div>{{organization.orgId}}</div></md-list-item>
    <md-list-item><div class="label">Organization address: </div><div>{{organization.address}}</div></md-list-item>
    <md-list-item><div class="label">Organization contact Name: </div><div>{{organization.contact.person}}</div></md-list-item>
    <md-list-item><div class="label">Organization Contact Email: </div><div>{{organization.contact.email}}</div></md-list-item>
    <md-list-item><div class="label">Organization contact Phone: </div><div>{{organization.contact.phone}}</div></md-list-item>
    <md-list-item><div class="label">Organization billing: </div><div>{{organization.billing}}</div></md-list-item>
    <md-list-item><div class="label">Organization description: </div><div>{{organization.description}}</div></md-list-item>
  </md-list>
</div>
<div *ngIf="!organization">Waiting for Data</div>