<div class="container">
        <div class="project-list">
          <div class="project-container" *ngIf="project">
       
            <mat-card class="">

             
              <div >
                       <!-- image-slider start -->
                       <div>
                          <md-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason">
                              <md-radio-button class="example-radio-button" *ngFor="let season of seasons" value="season">
            
                              </md-radio-button>
                            </md-radio-group>
                            <div class="example-selected-value">Your favorite season is: {{favoriteSeason}}</div>
                          </div>
                          <!-- image-slider end -->
              </div>
      
              <div class="project-details">
      
                <mat-card-header class="card-header">
                  <mat-card-title class="project-title">{{project.projectName}}</mat-card-title>
                  <mat-card-subtitle class="project-detail">
                    <span class="organization-name">{{project.organizationName}}</span>
                    <br>
                    <span class="project-address">{{project.address}}</span>
                  </mat-card-subtitle>
                </mat-card-header>
      
      
                <mat-card-content>
                  <div class="project-description">
                    <p>
                      {{project.description}}
                    </p>
                   
                  </div>
                  <div class="donate-container">
                    <app-progressbar class="progress-bar"
                                     [id]='project.id'
                                     [raisedFunding]='project.raisedFunding'
                                     [neededFunding]='project.neededFunding'>
                    </app-progressbar>
                    <app-donate-button
                      [project]='project'
                      [donateOption1]="donateOption1"
                      [donateOption2]="donateOption2"
                      [donateOption3]="donateOption3">
                    </app-donate-button>
                  </div>
                </mat-card-content>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
      
