<div class="container">
        <div class="project-list">
          <div class="project-container">
       
            <mat-card class="">
                <div class="ctn">
                    <div class="inner-ctn">
                      <div class="ui card swipe-box" 
                        *ngFor="let image of projectImages; let idx=index"
                        (swipeleft)="swipe(idx, $event.type)" (swiperight)="swipe(idx, $event.type)" 
                        [class.visible]="image.visible" [class.hidden]="!image.visible">
                        <div class="image">
                          <img [src]="image.image">
                        </div>
                      </div>
                      
                    </div>
                    <div class="button-row">
                        <button mat-fab color="white"> 
                          <mat-icon class="mat-24" aria-label="icon-button with a heart icon">favorite</mat-icon>
                        </button>
                      </div>
                    <div class="pgc-wrapper">
                      <div  class="paginator-container">
                      <div *ngFor="let index of projectImages; let idx=index" class="circle-page" [class.selected]='idx===0'></div>
                    </div>
                    </div>
                  </div>      
              


                <div class="project-details">
                  
                   

                <mat-card-header class="card-header">
                  <mat-card-title class="project-title">{{projectInfo.projectName}}</mat-card-title>
                  <mat-card-subtitle class="project-detail">
                    <span class="organization-name">{{projectInfo.organizationName}}</span>
                    <br>
                    <span class="project-address">{{projectInfo.address}}</span>
                  </mat-card-subtitle>
                </mat-card-header>
      
      
                <mat-card-content>
                  <div class="project-description">
                    <p>
                      {{projectInfo.description}}
                    </p>
                   
                  </div>
                  <div class="donate-container">
                    <app-progressbar class="progress-bar"
                                     [id]='projectInfo.id'
                                     [raisedFunding]='projectInfo.raisedFunding'
                                     [neededFunding]='projectInfo.neededFunding'>
                    </app-progressbar>
                    <app-donate-button
                      [project]='projectInfo'
                      [donateOption1]="donateOption1"
                      [donateOption2]="donateOption2"
                      [donateOption3]="donateOption3">
                    </app-donate-button>
                  </div>
                </mat-card-content>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
      <div class="activity-list">
          <div class="activity-container" *ngIf="projectActivities">
              <mat-card class="">
                  <mat-card-title class="activity-title">Activities:</mat-card-title>
                  <mat-card-content>
                      <mat-expansion-panel *ngFor="let activity of projectActivities">
                          <mat-expansion-panel-header>
                            <mat-panel-description>
                              {{activity.activityDate}}
                            </mat-panel-description>
                            <mat-panel-title>
                                {{activity.activityTitle}}
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <div>{{activity.activityDescription}}</div>
                        </mat-expansion-panel>
                  </mat-card-content>
              </mat-card>
          </div>
      </div>
      
