<div class="container">
  <div class="project-list">
    <div class="project-container" *ngIf="project">
      <mat-card class="">
        <div class="ctn">
          <div class="inner-ctn">
            <div class="ui card swipe-box" 
              *ngFor="let image of projectImages; let idx=index"
              (swipeleft)="swipe(idx, $event.type)" (swiperight)="swipe(idx, $event.type)" 
              [class.visible]="image.visible" [class.hidden]="!image.visible">
              <div class="image">
                <img [src]="image.image">
              </div>
            </div>          
          </div>
          <div class="button-row">
            <button mat-fab color="white"> 
              <mat-icon class="mat-24" aria-label="icon-button with a heart icon">favorite</mat-icon>
            </button>
          </div>
          <div class="pgc-wrapper">
            <div  class="paginator-container">
              <div *ngFor="let index of projectImages; let idx=index" class="circle-page" [class.selected]='idx===0'></div>
            </div>
          </div>
        </div>     
          <div class="project-details">
            <mat-card-header class="card-header">
              <mat-card-title class="project-title">{{project.projectName}}</mat-card-title>
              <mat-card-subtitle class="project-detail">
                <span class="organization-name">{{project.organizationName}}</span>
                <br>
                <span class="project-address">{{project.address}}</span>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div class="project-description">
                <p class="">
                  {{project.description}}
                </p>
              </div>
              <div class="donate-container">
                <app-progressbar class="progress-bar" [id]='project.id' [raisedFunding]='project.raisedFunding' [neededFunding]='project.neededFunding'>
                </app-progressbar>
                <app-donate-button [project]='project' [donateOption1]="donateOption1" [donateOption2]="donateOption2" [donateOption3]="donateOption3">
                </app-donate-button>
              </div>
            </mat-card-content>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="activity-list" *ngIf="projectActivities && projectActivities.length">
      <div class="activity-container">
        <mat-card class="activity-card">
          <mat-card-title class="event-title">Events:</mat-card-title>
          <mat-card-content>
            <mat-accordion multi="false">
              <mat-expansion-panel *ngFor="let activity of projectActivities">
                <mat-expansion-panel-header>
                  <mat-panel-title class="activity-title">
                    {{activity.activityTitle}}
                  </mat-panel-title>
                  <mat-panel-description class="activity-date">
                    {{activity.activityDate}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                  <img class="activity-image" [src]="activity.activityImage" [alt]="activity.activityTitle">
                </div>
                <div class="activity-description">{{activity.activityDescription}}</div>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  