
$background-color: #eee;

$phone: "only screen and (max-width : 420px)";
$tablet-desktop: "only screen and (min-width : 420px)";

.container {
  height: 100%;
  width: 100%;
  margin: 0;
  background: $background-color;
}
.project-list {
  background: $background-color;
  height: auto;
  // min-height: 100vh;
}
.activity-list {
  background: $background-color;
  height: auto;
  // min-height: 100vh;
}

  mat-card {
    padding: 0 !important;

    .ctn.inner-ctn.ui :card :swipe-box {
      overflow: hidden;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;

    }
    .button-row {
      position: absolute;
      right: 2em;
      margin-top: -30px;

      mat-icon {
        color: red;
      }
    }
    .project-details {
      margin: 0;
      padding: 1em;
      .card-header {
        margin: 0;
        .project-title {
          text-transform: uppercase;

        }
        .organization-name {
          text-transform: uppercase;

        }
        .project-address {
          font-style: italic;
        }
      }
      
      .project-description {
        padding: 0 15px 15px 15px;

        width: 75%;

        p {
          font-family: Arial;
          font-size: 1em;
          line-height: 1em;
          overflow: hidden;
        }
        .fade {
          position: relative;
          height: 3em; /* exactly three lines */
        }
        .fade:after {
          content: "";
          text-align: right;
          position: absolute;
          bottom: 0;
          right: 0;
          width: 70%;
          height: 1em;
          background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
        }
      }

      .progress-bar {
        display: block;
        margin: 8px;
        width:60%;
      }
    }
    .activity-image {
      width: 300px;
      //height: 250px;
    }
    .event-title {
      margin: 2px;
      padding-top: 15px;
      padding-left: 22px;
    }

    .activity-description {
        font-family: Arial;
        padding: 1em;
        text-align: justify;   
      
      }
    // .activity-title {
    //   padding-top: 10px;
    //   padding-left: 15px;    
    // }
    
    .activity-date {
      text-align: right;
      align-items: right;
    }
     
}

@media #{$phone}{
  .project-list {
    margin: 0;
    padding-top: 10vh;
  }

  .activity-list {
    margin: 0;
    padding-top: 0;
  }

    mat-card {
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      .ctn{
        height: 300px;
      
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
    }
  }

@media #{$tablet-desktop}{
  .project-list {
    margin: auto;
    width: 90%;
    padding-top: 15vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .activity-list {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    mat-card{
      margin: 1em;
      padding: 1em;
      
    }
  }

    mat-card {
      width:720px;
      margin: 2em;

      .ctn {
        max-width: 400px;
        margin: 0 auto;
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
      .activity-image {
        width: 300px;
      }
    }
  
}


.swipe-box{
  width: 100%;
  height: 100%;
}
.inner-ctn {
  width: 100%;
  height: 100%;
  margin: 0px;
}
.image{
  width: 100%;
  height: 100%;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}
.circle-page{
  background: white;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border:#9B9B9B 1px solid;
  display:inline-block;
  margin:2px;
}
.paginator-container{
  display: inline;
  margin: auto;
}
.pgc-wrapper{
  display: flex;
}
.circle-page.selected{
  background: #9B9B9B;
}

mat-panel-description{
  display:block;
}
