.organization-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
  }
  
  .organization-name {
    width: 100%;
  }
  .organization-number {
    width: 100%;
  }
  .organization-contact {
    width: 100%;
  }
  .organization-contact-name {
    width: 100%;
  }
  .organization-contact-email {
    width: 100%;
  }
  .organization-address {
    width: 100%;
  }
  .organization-location {
    width: 100%;
  }
  .organization-postalCode {
    width: 100%;
  }
  .organization-city {
    width: 100%;
  }
  .organization-description {
    width: 100%;
  }
  .organization-bankAccount {
    width: 100%;
  }
 
  