 <!-- form for the submission of a new organization-->
 <form class="organization-form">
 <!-- field for the organization number, name and Adress-->
      <md-card>
     
    </md-card>
</form>
<md-card class="Organization Form">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>Submission Form</md-card-title>
      <md-card-subtitle>Create Account for the new Organization</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <md-card-content>
        <md-form-field>
            <input mdInput placeholder="Organization Number" type="text" required>
          </md-form-field>
    
          <md-form-field>
            <input mdInput placeholder="Organization Name" type="text" required>
          </md-form-field>
          
          <md-form-field>
            <textarea mdInput ngplaceholder="Address">1600 Amphitheatre Pkwy</textarea>
          </md-form-field>
          <table cellspacing="0"><tr>
            <td><md-form-field>
              <input mdInput placeholder="First name">
            </md-form-field></td>
            <td><md-form-field>
              <input mdInput placeholder="Long Last Name That Will Be Truncated">
            </md-form-field></td>
          </tr></table>
    
          <p>
            <md-form-field>
              <textarea mdInput placeholder="Address 2"></textarea>
            </md-form-field>
          </p>
    
          <table cellspacing="0"><tr>
            <td><md-form-field>
              <input mdInput placeholder="City">
            </md-form-field></td>
            <td><md-form-field>
              <input mdInput placeholder="State">
            </md-form-field></td>
            <td><md-form-field>
              <input mdInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
              <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
            </md-form-field></td>
          </tr></table>
    </md-card-content>
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>

  <div class="mdc-card">
      <section class="mdc-card__primary">
        <h1 class="mdc-card__title mdc-card__title--large">Title goes here</h1>
        <h2 class="mdc-card__subtitle">Subtitle here</h2>
      </section>
      <section class="mdc-card__supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </section>
      <section class="mdc-card__actions">
        <button class="mdc-button mdc-button--compact mdc-card__action">Action 1</button>
        <button class="mdc-button mdc-button--compact mdc-card__action">Action 2</button>
      </section>
    </div>