$desktop: 'only screen and (min-width : 1366px)';
$phone-tablet: 'only screen and (max-width : 1366px)';
$sidebarClosedVal: '0';

@media #{$desktop} {
    $sidebarExpandedVal: '260px';

    app-sidebar {
        width: #{$sidebarExpandedVal};
    }

    .main-panel {
        float: right;
        width: calc(100% - 260px);
    }
}

@media #{$phone-tablet} {
    $sidebarExpandedVal: '200px';

    app-sidebar {
        width: #{$sidebarClosedVal};
    }

    .main-panel {
        width: 100%;
    }

    .wrapper {
        position: relative;
        display: block;
        width: 100%;
        overflow: hidden;
    }

    .wrapper::before {
        content: "";
        position: fixed;
        display: none;
        top: 0;
        left: #{$sidebarExpandedVal};
        width: calc(100% - #{$sidebarExpandedVal});
        height: 100%;
        background-color: rgba(0,0,0,.5);
        overflow: hidden;
        z-index: 1;
    }

    .wrapper::after {
        content: "";
        position: absolute;
        display: block;
        bottom: 0;
        right: 0;
        clear: both;
    }

    .wrapper.expanded > app-sidebar {
        width: #{$sidebarExpandedVal};
    }

    .wrapper.expanded::before {
        display: block;
    }

    .wrapper.expanded > .main-panel {
        margin-left: #{$sidebarExpandedVal};
        pointer-events: none;
    }

    /* app-sidebar.expanded {
        width: #{$sidebarExpandedVal};
    }

    .main-panel.expanded {
        margin-left: #{$sidebarExpandedVal};
        pointer-events: none;
    }

    .main-panel.expanded::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        overflow: hidden;
    } */
}

app-sidebar {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: whitesmoke;

    -webkit-box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    -moz-box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);

    box-sizing: border-box;
    z-index: 2;
}

.main-panel {
    position: relative;
    display: block;
    padding: 20px;
    box-sizing: border-box;
}

.trans-15s {
    -webkit-transition: .15s all ease-in-out;
    -moz-transition: .15s all ease-in-out;
    -ms-transition: .15s all ease-in-out;
    -o-transition: .15s all ease-in-out;
    transition: .15s all ease-in-out;
}