$desktop: 'only screen and (min-width : 1366px)';
$phone-tablet: 'only screen and (max-width : 1366px)';
$sidebarClosedVal: '0';
$trans: '.35s all ease-in-out';

@media #{$desktop} {
    $sidebarExpandedVal: '260px';

    app-sidebar {
        width: #{$sidebarExpandedVal};
    }

    .main-panel {
        float: right;
        width: calc(100% - 260px);
    }
}

@media #{$phone-tablet} {
    $sidebarExpandedVal: '200px';

    app-sidebar {
        width: #{$sidebarClosedVal};
    }

    .main-panel {
        width: 100%;
    }

    .wrapper {
        position: relative;
        display: block;
        width: 100%;
        overflow: hidden;
    }

    .wrapper::before {
        content: "";
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        width: 0;
        opacity: 0;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        overflow: hidden;
        z-index: -1;

        -webkit-transition: #{$trans};
        -moz-transition: #{$trans};
        -ms-transition: #{$trans};
        -o-transition: #{$trans};
        transition: #{$trans};
    }

    .wrapper::after {
        content: "";
        position: absolute;
        display: block;
        bottom: 0;
        right: 0;
        clear: both;
    }

    .wrapper.expanded > app-sidebar {
        width: #{$sidebarExpandedVal};
    }

    .wrapper.expanded::before {
        width: 100%;
        opacity: 1;
        z-index: 2;
    }

    .wrapper.expanded > .main-panel {
        margin-left: #{$sidebarExpandedVal};
        pointer-events: none;
    }
}

app-sidebar {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: whitesmoke;

    -webkit-box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    -moz-box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);

    box-sizing: border-box;
    z-index: 2;
}

.main-panel {
    position: relative;
    display: block;
    padding: 20px;
    box-sizing: border-box;
}

.trans-15s {
    -webkit-transition: #{$trans};
    -moz-transition: #{$trans};
    -ms-transition: #{$trans};
    -o-transition: #{$trans};
    transition: #{$trans};
}