app-sidebar {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: whitesmoke;

    -webkit-box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    -moz-box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);

    box-sizing: border-box;
    z-index: 2;
}

.main-panel {
    position: relative;
    display: block;
    float: right;
    width: calc(100% - 260px);
    padding: 20px;
}