.mat-card-header-text {
    width: 0;
}

.material-icons {
	position: absolute;
}

.project-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
}
  
.project-full-width {
	width: 100%;
	padding-top: 10px;
}
.project-header {
	margin: auto;
	padding-bottom: 10px;
}

.header-label {
	font-size: 26px;
	text-align: center;
}

.image-container {
	position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 1;
    align-items: center;
    width: 100%;
    height: 30vh;
	background: transparent;
	background-image: url('../../../assets/default-placeholder.png');
	background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
	background-position: center;
	border: 1px dashed silver;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
  
    .input-image {
		display: block;
		width: 0;
		height: 0;
		opacity: 0;
		z-index: -1;
	}

	.image-holder {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		/* width: 200px; */
		height: 100%;
		margin: 0 auto;
  }
}

.no-border {
	border: none;
	background: none;
}

.nat-project-label {
	position: relative;
	display: block;
	width: 100%;
	color: rgba(0, 0, 0, 0.54);
	overflow: hidden;
	margin: 10px 0;	
}

.nat-project-radio {
	position: relative;
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	overflow: hidden;

	mat-radio-button {
		margin-right: 10px;
	}
}

.hidden {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border: 0;
	outline: 0;
	pointer-events: none;
}

::ng-deep .custom-mat-select .mat-select-underline {
    display: none;
}

::ng-deep .mat-primary .mat-option:hover {
	background-color: #61bfad;
	color: white;
}

.buttons-wrapper {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 10px 0;
	padding: 10px;
	overflow: hidden;
}

.buttons-wrapper > button {
	position: relative;
	margin: 0 10px;
	padding: 0 40px;
}
.container{
    background-color: #eee;
}
.project-card {
    width: 600px;
    margin: auto;
    background-size: cover;
  }
