<!-- Form for the submission of a new project-->
<form class='project-form' #projectForm>
  <!-- FIELD: PROJECT DESCRIPTIVE IMAGE -->
  <div class='image-container' (mouseup)='$event.button === 0 ? descImage.click() : return;'>
    <!-- <i class='material-icons'>file_upload</i> -->
    <input #descImage name='DESC_IMAGE' placeholder='{{attributes.DESC_IMAGE.placeholder}}' [formControl]='projectControls.descImage'
      (change)='setImagePath($event.currentTarget)'>
    <img #projectImage class='image-holder' src='' alt='' title='Click to upload an image'>
  </div>

  <!-- FIELD: PROJECT NAME -->
  <mat-form-field class='project-full-width'>
    <input matInput #name name='NAME' placeholder='{{attributes.NAME.placeholder}}' [formControl]='projectControls.name'>
    <mat-error *ngIf='projectControls.name.hasError("required")'>Name is<strong>required</strong></mat-error>
  </mat-form-field>

  <!-- FIELD: PROJECT NUMBER ID -->
  <mat-form-field class='project-full-width'>
    <input matInput #projectId name='PROJECT_ID' placeholder='{{attributes.PROJECT_ID.placeholder}}' [formControl]='projectControls.projectId'>
    <mat-error *ngIf='projectControls.projectId.hasError("required")'>Project number is<strong>required</strong></mat-error>
    <mat-error *ngIf='projectControls.projectId.hasError("pattern")'>Project number must be written in this format<strong>XXXXXX-XXXX</strong></mat-error>
  </mat-form-field>

  <!-- FIELD: PROJECT MANAGER -->
  <mat-form-field class='project-full-width'>
    <input matInput #manager name='MANAGER' placeholder='{{attributes.MANAGER.placeholder}}' [formControl]='projectControls.manager'>
    <mat-error *ngIf='projectControls.manager.hasError("required")'>Project manager is<strong>required</strong></mat-error>
    <mat-error *ngIf='projectControls.manager.hasError("pattern")'>Must be<strong>valid</strong> name!</mat-error>
  </mat-form-field>

  <!-- FIELD: PROJECT ADDRESS -->
  <mat-form-field class='project-full-width'>
    <input matInput #address name='ADDRESS' placeholder='{{attributes.ADDRESS.placeholder}}' [formControl]='projectControls.address'>
    <mat-error *ngIf='projectControls.address.hasError("required")'>
      Address is
      <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <!-- FIELDS: PROJECT LIFECYCLE -->
  <table class='project-full-width' cellspacing='0'>
    <tr>
      <td>
        <mat-form-field>
          <input name='FROM_DATE' matInput [matDatepicker]='myDatepicker' placeholder='From (date)' [formControl]='projectControls.fromDate'>
          <mat-error *ngIf='projectControls.fromDate.hasError("required")'>
            The starting Date is
            <strong>required</strong>
          </mat-error>
          <mat-datepicker-toggle mdSuffix [for]='myDatepicker'></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input name='TO_DATE' matInput [matDatepicker]='myDatepicker2' placeholder='To (date)' [formControl]='projectControls.toDate'>
          <mat-error *ngIf='projectControls.toDate.hasError("required")'>
            The ending Date is
            <strong>required</strong>
          </mat-error>
          <mat-error *ngIf='projectControls.toDate.hasError("wrongdate") || projectControls.toDate.hasError("impossibleDate")'>
            The ending Date must not be <strong>before start </strong>
          </mat-error>
          <mat-datepicker-toggle mdSuffix [for]='myDatepicker2'></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker2></mat-datepicker>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <!-- FIELD: PROJECT GOAL AMOUNT -->
  <mat-form-field class='project-full-width'>
    <input matInput name='GOAL' placeholder='{{attributes.GOAL.placeholder}}' [formControl]='projectControls.goal'>
    <mat-error *ngIf='projectControls.goal.hasError("required")'>
      The goal is
      <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <!-- Field for the city,postcode and country of the project
    <table class='project-full-width' cellspacing='0'>
      <tr>
        <td>
          <mat-form-field class='project-full-width'>
            <input matInput #postalCode maxlength='5' placeholder=' Postal Code ' value='' type='number' [formControl]='projectControls.zipCode'>
            <mat-error *ngIf='projectControls.zipCode.hasError('required')'>
              the ppstCode is <strong>required</strong>
            </mat-error>
            <mat-hint align='end'>{{postalCode.value.length}} / 5</mat-hint>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class='project-full-width'  required>
            <input matInput #orgCity placeholder=' City '  [formControl]='projectControls.city'>
            <mat-error *ngIf='projectControls.city.hasError('required')'>
              The city where the project is locate is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table> -->

  <!--FIELD: PROJECT DESCRIPTION-->
  <mat-form-field class='project-full-width'>
    <textarea matInput #desc name='DESC' placeholder='{{attributes.DESC.placeholder}}' [formControl]='projectControls.desc'></textarea>
    <mat-error *ngIf='projectControls.desc.hasError("required")'>
      The description of the project is
      <strong>required</strong>
    </mat-error>
    <mat-hint align='end'>{{desc.value.length}} /400</mat-hint>
  </mat-form-field>

  <!--FIELD: PROJECT TYPE-->
  <mat-form-field class='project-full-width'>
    <input matInput #national name='NATIONAL_PROJECT' [formControl]='projectControls.national'>
    <label class='nat-project-label'>National Project</label>
    <mat-radio-group class="nat-project-radio" (change)='setHiddenInputs("national", $event.value)' #nationalRadios>
      <mat-radio-button value="1">Yes</mat-radio-button>
      <mat-radio-button [checked]='true' value="0">No</mat-radio-button>
    </mat-radio-group>
    <mat-error *ngIf='projectControls.national.hasError("required")'>Set the type of the
      <strong>project</strong>
    </mat-error>
  </mat-form-field>

  <!-- FIELD: ORGANIZATION -->
  <mat-form-field class='project-full-width'>
    <input matInput name='ORG_ID' class='input-org-id' [formControl]='projectControls.orgId' #orgId>
    <mat-select class='custom-mat-select' placeholder="Organization Name" title='Click to select an organization' (change)='setHiddenInputs("orgId", $event.value)'
      #orgIdPicker>
      <mat-option *ngFor="let org of organizations" [value]="org.id" [textContent]='org.name'></mat-option>
    </mat-select>
    <mat-error *ngIf='projectControls.orgId.errors'>The organization name is<strong>required</strong></mat-error>
  </mat-form-field>

  <!-- <div class='project-data-row'>
    <label class='nat-project-label'>National Project</label>
    <mat-radio-group class="nat-project-radio">
      <mat-radio-button value="yes">Yes</mat-radio-button>
      <mat-radio-button [checked]='true' value="no">No</mat-radio-button>
    </mat-radio-group>
  </div> -->

  <!--Button to save the form or Canceled-->
  <div class='buttons-wrapper'>
    <button mat-raised-button color='warn' (mouseup)='hardReset($event, projectForm)'>Cancel</button>
    <button mat-raised-button color='primary'>Validate</button>
    <!-- <button mat-raised-button color='primary' [routerLink]='[projectListLink]' (mouseup)='saveProject()'>Submit -->
  </div>
</form>