<div *ngIf="project" class="container">
  <mat-card class="project-card">
    <mat-card-subtitle>
      <h2 class="project-title">{{project.projectName}}</h2>
      <mat-divider></mat-divider>
    </mat-card-subtitle>
    <mat-list>
      <mat-card-content>
        <mat-list-item class="project-fromDate">
          <div mat-line>
            <div class="label">From Date: </div>
            <div class="project-fromDate">{{project.fromDate | date}}</div>
          </div>
        </mat-list-item>
        <mat-list-item class="project-toDate">
          <div mat-line>
            <div class="label">To Date: </div>
            <div class="project-toDate">{{project.toDate | date}}</div>
          </div>
        </mat-list-item>
        <mat-list-item class="project-address">
          <div mat-line>
            <div class="label">Address: </div>
            <div class="project-address">{{project.address}}</div>
          </div>
        </mat-list-item>
        <mat-list-item class="project-neededFunding">
          <div mat-line>
            <div class="label">Needed Funding: </div>
            <div class="project-neededFunding">{{project.amountToBeRaised}}</div>
          </div>
        </mat-list-item>
        <mat-list-item class="project-raisedFunding">
          <div mat-line>
            <div class="label">Raised Funding: </div>
            <div class="project-raisedFunding">{{project.raisedFunding}}</div>
          </div>
        </mat-list-item>
        <br>
        <mat-list-item class="project-mainImage">
          <div mat-line>
            <div class="label">Main Image: </div>
            <div class="project-mainImage">
              <img [attr.src]='project.mainImage' width='100px' />
            </div>
          </div>
        </mat-list-item>
        <mat-list-item class="project-organization" *ngIf="project.organization">
          <div mat-line>
            <div class="label">Organization: </div>
            <div class="project-organization">
              <a [routerLink]="['/admin/organizations/view/',project.organization.organizationId]" [textContent]='project.organization.name'></a>
            </div>
          </div>
        </mat-list-item>

        <div class="project-desc">{{project.description}}</div>
        <br>

        <h4>
          <strong>Location:</strong>
        </h4>
        <div class="project-location">
          <agm-map [latitude]="project.latitude" [longitude]="project.longitude" [zoom]="12" style="height:300px">
            <agm-marker [latitude]="project.latitude" [longitude]="project.longitude"></agm-marker>
          </agm-map>
        </div>
      </mat-card-content>
    </mat-list>
    <mat-card-actions>
      <button mat-raised-button color='primary' (click)="eventButton()">Add Event</button>
    </mat-card-actions>
  </mat-card>
  <div *ngIf="!project">Waiting for Data</div>
  <mat-card class="project-card">
    <mat-card-title class="event-title">Events:</mat-card-title>
    <mat-card-content>
      <mat-accordion multi="false">
        <mat-expansion-panel *ngFor="let activity of projectActivities">
          <mat-expansion-panel-header>
            <mat-panel-title class="activity-title">
              {{activity.eventTitle}}
            </mat-panel-title>
            <mat-panel-description class="activity-date">
              {{activity.eventDate}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <img class="activity-image" [src]="activity.eventImage" [alt]="activity.eventTitle">
          </div>
          <div class="activity-description">{{activity.eventDescription}}</div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
