.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

.nano-logo {
    position: relative;
    display: block;
    height: 75px;
    background: url('../../../../assets/Nano_Logo_Primary.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.nano-logo::after {
    content: "";
    position: absolute;
    display: block;
    width: 80%;
    height: 1px;
    background-color: darkgrey;
    bottom: 0;
    left: 10%;
    right: 10%;
}

.nano-logo > a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
    user-select: none;
}

.sidebar-container {
    position: relative;
    display: block;
    width: 260px;
    height: calc(100vh - 75px);
    z-index: 4;
}

.sidebar-container, * {
    box-sizing: border-box;
}

.sidebar-label {
    width: 100%;
    padding: 20px 10px;
    background-color: dodgerblue;
    color: white;
    cursor: default;
    overflow: hidden;
    user-select: none;
}

.admin-links {
    position: relative;
    display: block;
    width: 100%;
}

.admin-links a {
    color: inherit;
    height: 100%;
    text-decoration: none;
}

.admin-links a:visited {
    color: initial;
}

.item-list {
    position: relative;
    display: block;
    padding: 0;
}

.item {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    height: 40px;
    padding: 5px 20px 5px 5px;
    border-bottom: 1px solid silver;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.item.last,
.item:last-of-type {
    border: none !important;
}

.item-label {
    position: relative;
    width: 100%;
    height: 100%;
    align-items: stretch;
    overflow: hidden;
}

.item.hasItems::after {
    content: "";
    position: absolute;
    display: none;
    top: 50%;
    right: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 6.9px;
    border-color: transparent transparent transparent #818181;
    line-height: 0px;
    _border-color: #000000 #000000 #000000 #818181;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.item-list.sub {
    position: absolute;
    width: 0;
    height: auto;
    top: 0;
    left: 102%;
    background-color: whitesmoke;
    overflow: hidden;

    -webkit-box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    -moz-box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

// USER ACTIONS

//HOVERS
.item:hover {
    background-color: #61bfad;
    color: white;
    z-index: 9999;
}

.item.hasItems:hover::after {
    display: block;
}

.item:hover > .item-list.sub {
    z-index: 9999;
    width: 60%;
}

.item-list.sub > .item:hover > a {
    color: white;
}

.trans-15s {
    -webkit-transition: .15s all ease-in-out;
    -moz-transition: .15s all ease-in-out;
    -ms-transition: .15s all ease-in-out;
    -o-transition: .15s all ease-in-out;
    transition: .15s all ease-in-out;
}