$primary-color: #61BFAD;
$secondary-font-color: #9B9B9B;
$primary-font-color: #4A4A4A;

$background-color: #eee;

$small-screen: 450px;

.container {
  height: 100%;
  width: 100%;
  margin: 0;
  background: $background-color;
}

.project-list {
  background: $background-color;
  @media screen and (max-width: $small-screen) {
    margin: 0;
  }
  @media screen and (min-width: $small-screen) {
    margin: auto;
    width: 90%;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  md-card {
    padding: 0 !important;

    @media screen and (max-width: $small-screen) {
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
    }
    @media screen and (min-width: $small-screen) {
      width: 400px;
      margin: 2em;
    }

    .main-image-container {
      overflow: hidden;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $background-color;
      img {
        @media screen and (max-width: $small-screen) {
          height: 300px;
          width: auto;
          max-height: 300px;
        }
        @media screen and (min-width: $small-screen) {
          max-height: 300px;
        }

      }

    }
    .project-details {
      margin: 0;
      padding: 1em;
      .card-header {
        margin: 0;
        .project-title {
          text-transform: uppercase;
          color: $primary-font-color;
        }
        .organization-name {
          text-transform: uppercase;
          color: $primary-color;
        }
        .project-address {
          font-style: italic;
        }
      }
      .button-row {
        position: absolute;
        right: 2em;
        @media screen and (max-width: $small-screen) {
          margin-top: -10%;
        }
        @media screen and (min-width: $small-screen) {
          margin-top: -12.5%;
        }

        md-icon {
          color: red;
        }
      }
      .project-description {
        padding: 0 30px 15px 15px;
        color: $secondary-font-color;
        p {
          font-family: Arial;
          font-size: 1em;
          line-height: 1em;
          overflow: hidden;
        }
        .fade {
          position: relative;
          height: 3em; /* exactly three lines */
        }
        .fade:after {
          content: "";
          text-align: right;
          position: absolute;
          bottom: 0;
          right: 0;
          width: 70%;
          height: 1em;
          background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
        }
      }
      .read-more {
        color: $secondary-font-color;
      }
      .progress-bar {
        display: block;
        margin: 8px;
      }
    }
  }
}
