<div class="project-list">
  <div class="project-container">
    <md-card class="noshadow nopadding">
      <div class="main-image-container">
        <div class="horizontal">
          <div class="vertical">
            <img src="./assets/Phenom-Childred-Play-631.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="project-details">
      <md-card-header class="card-header">
        <md-card-title class="project-title">Project name</md-card-title>
        <md-card-subtitle class="project-detail">
          <span class="organization-name">owner</span>
          <span class="project-address">storgatan</span></md-card-subtitle>
      </md-card-header>


      <md-card-content class="project-descreption">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          ea commodo consequat.
        </p>
        <a href="#">Read more</a>

        <md-progress-bar
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="value"
          [bufferValue]="bufferValue"></md-progress-bar>
      </md-card-content>
      </div>
    </md-card>
  </div>
</div>
<app-progressbar></app-progressbar>