<div class="container">
  <div class="project-list">
    <div class="project-container" *ngFor="let project of projectList">
      <md-card class="">

        <div class="main-image-container">
          <img [src]="project.mainImage" [alt]="project.projectName">
        </div>

        <div class="project-details">
          <div class="button-row">
            <button md-fab color="white">
              <md-icon class="md-24" aria-label="icon-button with a heart icon">favorite</md-icon>
            </button>
          </div>

          <md-card-header class="card-header">
            <md-card-title class="project-title">{{project.projectName}}</md-card-title>
            <md-card-subtitle class="project-detail">
              <span class="organization-name">{{project.organizationName}}</span>
              <br>
              <span class="project-address">{{project.address}}</span>
            </md-card-subtitle>
          </md-card-header>


          <md-card-content>
            <div class="project-description">
              <p class="fade">
                {{project.description}}
              </p>
              <a href="#" class="read-more">Read more</a>
            </div>
            <app-progressbar class="progress-bar" raisedFunding={{project.raisedFunding}}
                             neededFunding={{project.neededFunding}}></app-progressbar>
          </md-card-content>
        </div>
      </md-card>
    </div>
  </div>
</div>
