<div class="container">
  <md-card class="">

    <div class="image-container">
      <img class="profile-image" src="">
    </div>

    <md-card-header class="card-header">
      <md-card-title class="user-name">Owen</md-card-title>
      <md-card-subtitle class="user-info">
        <span class="user-slogan">I am calm</span>
        <br>

      </md-card-subtitle>
      <div class="user-wallet">
        <span class="donated-amount">Total: 2000</span>
        <br>
        <span class="amount-left">Donated: 100</span>
      </div>
    </md-card-header>

    <hr>

  </md-card>

  <div class="saved-projects">
    <div class="menu-container">
      <ul class="toolbar-menu">
        <li><a href="" class="project-link liked-projects">Saved project</a></li>
        <li><a href="" class="project-link funded-projects">funded project</a></li>
      </ul>
    </div>
  </div>


</div>
